
@font-face {
    font-family: 'RalewayBold';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Bold.woff') format('woff'),
    url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'RalewaySemiBold';
    src: url('fonts/Raleway-SemiBold.eot');
    src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-SemiBold.woff') format('woff'),
    url('fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Regular.woff2') format('woff2'),
    url('fonts/Raleway-Regular.woff') format('woff'),
    url('fonts/Raleway-Regular.ttf') format('truetype'),
    url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url('fonts/Raleway-ExtraBold.eot');
    src: url('fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-ExtraBold.woff') format('woff'),
    url('fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBlack';
    src: url('fonts/Raleway-Black.eot');
    src: url('fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Black.woff2') format('woff2'),
    url('fonts/Raleway-Black.woff') format('woff'),
    url('fonts/Raleway-Black.ttf') format('truetype'),
    url('fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Regular.woff') format('woff'),
    url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.clear{ clear:both;}
.page-share_links{ font-family:"RalewayRegular"; padding: 0px; margin: 0; font-size: 16px;
    background: #ebeaea !important;}
.sharelinks_wrapper{ width:1170px; margin:0 auto; font-family:"RalewayRegular";}
.share_links_advanced_link{
    line-height: 32px;
}
.page-share_links h2{font-family:"RalewayBold";}
.sharelinks_list_wrapper button{font-family:"RalewayBold" !important;}


.sharelinkshead{width:1120px; margin:0 auto;}
.btnshareclass{margin-top:5px; margin-bottom:5px;}

.sharelinks_wrapper .sharelinks_block1{ width:auto; margin:18px 0; -webkit-box-shadow: inset -1px -1px 102px -14px rgba(173,170,173,1);
-moz-box-shadow: inset -1px -1px 102px -14px rgba(173,170,173,1);
box-shadow: inset -1px -1px 102px -14px rgba(173,170,173,1); border:solid 1px #d4d4d4; background:#fff url(images/simg2.png) right top no-repeat; height:255px;}

.sharelinks_wrapper .sharelinks_block1 .block_wrapper{ width:700px;}


.sharelinks_wrapper .sharelinks_block1 .left_img{ float:left; margin-top:15px; margin-left:24px; display:block;}

.sharelinks_wrapper .sharelinks_block1 .block_text{ width:450px; float:right; margin:50px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:16px!important; line-height:24px!important; color:#545454;}

.sharelinks_wrapper .sharelinks_block1 .block_text p{font-size:16px!important; line-height:24px!important; color:#545454!important;}

.sharelinks_wrapper .sharelinks_block1 .block_text span{ color:#004c92;}

.sharelinks_wrapper .sharelinks_block1 .block_text h2{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:30px; color:#545454;}

.sharelinks_wrapper .sharelinks_block1 .block_text h2::after{ content:''; width:66px; height:2px; display:block; background:#004c92; margin:12px 0 10px 0;}



.sharelinks_wrapper .sharelinks_block_text_block{ width:100%; margin-bottom:18px;}

.sharelinks_wrapper .sharelinks_block_text_block h2{ background:#01a1fc; padding:8px 0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:normal; margin:0;}

.sharelinks_wrapper .sharelinks_block_text_block h2 .icon1{ display:block; background: url(images/slink_icon1.png) 10px center no-repeat; padding:0 0 0 40px;}
.sharelinks_wrapper .sharelinks_block_text_block h2 .icon2{ display:block; background: url(images/slink_icon2.png) 10px center no-repeat; padding:0 0 0 40px;}
.sharelinks_wrapper .sharelinks_block_text_block h2 .icon3{ display:block; background: url(images/slink_icon3.png) 10px center no-repeat; padding:0 0 0 40px;}
.sharelinks_wrapper .sharelinks_block_text_block h2 .icon4{ display:block; background: url(images/slink_icon4.png) 10px center no-repeat; padding:0 0 0 40px;}
.sharelinks_wrapper .sharelinks_block_text_block h2 .icon5{ display:block; background: url(images/slink_icon5.png) 10px center no-repeat; padding:0 0 0 40px;}


.sharelinks_wrapper .sharelinks_block_text_block .text_wrapper{ width:auto; height:auto;   margin-top:3px; font-family:Arial, Helvetica, sans-serif; font-size:16px!important; line-height:24px!important; color:#545454; padding:8px; background:#fff;}

.sharelinks_wrapper .sharelinks_block_text_block .text_wrapper span, a{color:#004c92; text-decoration:none; outline:none;}






.sharelinks_wrapper .sharelinks_block2{ width:auto; height:auto;  border:solid 1px #d4d4d4;  margin-top:18px;}



.sharelinks_wrapper .sharelinks_block2 img{ width:100%;}




.sharelinks_wrapper .sharelinks_block3{ width:auto; height:auto;   margin-top:8px; font-family:Arial, Helvetica, sans-serif; font-size:16px!important; line-height:24px!important; color:#363636; padding:8px; background:#fff;}

.sharelinks_wrapper .sharelinks_block3 span, a, .sharelinks_wrapper .sharelinks_block3 span, a:hover{color:#363636; text-decoration:none; outline:none;}

.contain_block a:hover{color:#363636 !important; text-decoration:none !important;}

.sharelinks_wrapper .sharelinks_block3 img{ width:100%;}


.sharelinks_list_wrapper{ margin:18px auto; width:1170px; padding:0 7px; background:#fff; padding-bottom:18px;}

.sharelinks_list_wrapper .list_block{ padding:18px; border-bottom:solid 1px #e5e5e5; }

.sharelinks_list_wrapper .list_block .image_block{ width:240px; float:left; border:solid 5px #e3e3e3;} 
.sharelinks_list_wrapper .list_block .image_block img{ width:100%;}

.sharelinks_list_wrapper .list_block .contain_block{ width:850px; float:right; position:relative;}

.sharelinks_list_wrapper .list_block .contain_block h2{font-size: 18px; color: #363636; font-weight: normal; margin: 0;  padding: 0; text-decoration: none; text-transform: uppercase;}
.sharelinks_list_wrapper .list_block .contain_block h2 strong{ font-weight:bold; color:#363636;}

.sharelinks_list_wrapper .list_block .contain_block h2::after{ content:''; width:66px; height:2px; display:block; background:#d92b8a; margin:12px 0;}


.sharelinks_list_wrapper .list_block .contain_block .inputbox{ background:#f0f0f0 url(images/lock_icon.png) 98% center no-repeat; border:solid 1px #dcdcdc; border-radius:0px; width:660px; height:29px; padding:0 40px 0 10px; box-shadow:none; color:#545454; float:left;   margin: 2px 10px 0 0; background-size:14px;}


.sharelinks_list_wrapper .list_block .contain_block  .share_btn{
    background: #89b11d none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff !important;
    display: block !important;
    float: left !important;
    font-size: 14px !important;
    height: 32px !important;
    line-height: 22px !important;
    margin: 0 10px 10px 0 !important;
    text-align: center !important;
    width: auto !important;
}

.sharelinks_list_wrapper .list_block .contain_block h3{ font-weight:normal; font-size:14px; color:#004c92; padding:6px 0; margin:0; display:block; width:100%;}

.sharelinks_list_wrapper .list_block .contain_block .share_div{ width:100%; margin-top: 10px;}

.sharelinks_list_wrapper .list_block .contain_block .share_div .share_block{ width:256px; margin-left: -5px; }

.sharelinks_list_wrapper .list_block .contain_block .share_btn{width: 100%;}

.sharelinks_list_wrapper .list_block .contain_block .share_btn5 .btn1{ background:#89b11d!important; display:block!important; float:left!important; margin:6px 10px 0 0!important; width:auto!important; height:32px!important; border:none!important; cursor:pointer!important; border-radius:0px!important; box-shadow:none!important; background-image:none!important; font-size:14px!important; color:#fff!important; text-align:center!important; line-height:22px!important;}

.sharelinks_list_wrapper .list_block .contain_block .share_btn_div{ width:100%; margin:15px auto; margin-top: 11px;}

.sharelinks_list_wrapper .list_block .contain_block .share_btn_div .share_btn5{ display:block!important; float:left!important; margin:0 20px 10px 0px!important; width:auto!important; height:32px!important; border:none!important; cursor:pointer!important; border-radius:0px!important; box-shadow:none!important; background-image:none!important; font-size:14px!important; color:#ffffff!important; text-align:center!important; line-height:32px!important; font-weight:600;}


.sharelinks_list_wrapper .list_block .link_div{  position: absolute;
    right: 0;
    top: 0;
    width: 150px;}
.sharelinks_list_wrapper .list_block .link_div .Edit_link{ display:block; float:left; width:56px; float:left; background:url(images/edit.png) left center no-repeat;  padding: 8px 0 2px 26px; color:#363636; font-size:15px; text-decoration:none; }
.sharelinks_list_wrapper .list_block .link_div .Edit_link:hover{background:url(images/edit_hover.png) left center no-repeat; color:#000;}


.sharelinks_list_wrapper .list_block .link_div .Delete_link{ display:block; float:left; width:74px; float:right; background:url(images/delete.png) left center no-repeat;     padding: 7px 0 3px 26px; color:#363636; font-size:15px; text-decoration:none; }
.sharelinks_list_wrapper .list_block .link_div .Delete_link:hover{background:url(images/delete_hover.png) left center no-repeat; color:#000;}


.sharelinks_list_wrapper .icon_button{background: #2e2e2e url(images/addlink.png) 20px center no-repeat!important; width: 228px!important;
	height: 46px; display: block; margin: 25px auto!important; color: #fff; font-size: 16px; padding: 0 0 0 64px!important; }


.share_links_edit{ width:1170px; margin:0 auto; font-family:"RalewayRegular"; margin-top:18px; background:#fff; padding:20px 40px;}

.share_links_edit #share_links_form .legend {font-size:24px; color:#363636; font-weight:normal; margin:0; padding:0;}

.share_links_edit #share_links_form .legend a{ font-weight:bold; color:#004c92;}

.share_links_edit #share_links_form .legend::after{ content:''; width:66px; height:2px; display:block; background:#004c92; margin:12px 0 ;}

.share_links_edit #share_links_form dt{ font-weight:normal!important; font-size:14px; color:#4c4c4c; margin-top: 5px;}
#share_links_form .te #value_field_container_url div{color:#4c4c4c; margin-left: 0em;}
#share_links_form #value_field_container_url div p{color:#4c4c4c;}

.share_links_edit #share_links_form dt label{
    color: #4c4c4c;
    font-family: "RalewayRegular";
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600 !important;
    display: block;
}


dl dd {
    color: #004c92; font-weight:normal;
}

/*.share_links_edit #value_field_container_15_id{ padding-right:40px;}*/

.share_links_edit input[type="text"]{
    /*background-color:#f0f0f0; border:solid 1px #dcdcdc; border-radius:8px; width:100%; height:48px; padding:0 40px 0 10px; box-shadow:none; color:#545454;*/
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background: #efefef;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    padding: 6px 12px;
}
.share_links_edit textarea {background-color:#f0f0f0; border:solid 1px #dcdcdc; border-radius:0px; width:100%; height:150px; padding:0 40px 0 10px; box-shadow:none; color:#545454; resize:none;}


#value_field_container_15_file_name p{ padding-top:10px; color:#004c92;}

.share_links_edit .te_view dd, .te_edit dd, .te_asearch dd{ margin:5px 0px 0px 0px!important;}


.share_links_edit .te_buttons{ margin:0!important; padding:0!important; background:none!important; border:none!important;}


.share_links_edit .te_buttons .te_buttons {background:#3d3d3d!important; display:block!important; float:left!important; margin:0 10px 0 0!important; width:144px!important; height:36px!important; border:none!important; cursor:pointer!important; border-radius:0px!important; box-shadow:none!important; background-image:none!important; font-size:14px!important; color:#ffffff!important; text-align:center!important; line-height:36px!important;}

.icon_button1_div{ border-bottom: 1px solid #e5e5e5; overflow:hidden;}





.icon_button1_div .icon_button1{background: #1b8815 url(images/addlink.png) 20px center no-repeat; width: 228px;
	height: 46px; display: block; margin: 25px auto; color: #fff; font-size: 16px; padding: 0 0 0 64px; border-radius: 0px; }
	
	
	.modalpopup{ background:none!important; border:none!important;  padding:0!important; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
         position: relative;  }
	
		.modalpopup img{ width:100%; border:solid 4px #fff;}
		
		.modalpopup h3{ text-align:center; padding:15px 0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000; font-weight:normal; text-align:center;}

.modalpopup h3::after{ content: ''; width:140px;
    height: 2px; background: #333; display: block; margin: 5px auto; }


.modalpopup .modalclose{ width: 30px;
    height: 30px; border-radius: 100px; background: #111; color: #fff; display: block; text-align: center; line-height: 30px; position: absolute; right: 5px; top: -8px; cursor: pointer;}





/*--Modal css--*/
#te_share_links .modal-dialog .modal-content{
    border-radius: 0px;
}
#te_share_links .modal-dialog .modal-content .modal-header{
    text-align: center;
}

#te_share_links .modal-dialog .modal-content .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    background: #397714;
    color: #fff;
    text-transform: uppercase;
}
#te_share_links .modal-dialog .modal-content .modal-header .modal-title{
    font-family: "RalewaySemiBold" !Important;
    font-size: 20px;
}

#te_share_links .modal-dialog .modal-content .modal-body h4{
    text-decoration: none;
    font-family: "RalewaySemiBold" !Important;
    font-weight: normal;
    font-size: 24px !Important;
    color: #2c2c2c !Important;
    padding: 0px 0 0 0 !Important;
    margin: 10px 0 0 0 !Important;
    text-transform: uppercase !Important;
}

#te_share_links .modal-dialog .modal-content .modal-body p a, #te_share_links .modal-dialog .modal-content .modal-body p a:hover{
    color:#006600 !important;
    text-decoration: none !important;
}

#te_share_links .modal-dialog .modal-content .modal-header button.close {
    margin-top: 0px;
    background: #fff;
    opacity: 1 !important;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    padding: 0px;
    font-size: 28px;
}

#value_field_container__url div p{
    color:#2c2c2c !important;
    font-family: "RalewayRegular";
    margin-top: 10px;
}
#value_field_container_is_pixel label{
    color:#2c2c2c !important;
    font-family: "RalewayRegular";
}

#share_links_form .te legend.te, #share_links_form .te .te_legend {
    margin: 0 0 14px 0 !important;
    color: #131313 !important;
    font-family: "RalewayBold" !important;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
#share_links_form .te legend.te:hover, #share_links_form .te .te_legend:hover{
    text-decoration: none !important;
    color: #131313 !important;
}
#share_links_form .te dl dd {
    color: #131313 !important;
    font-weight: normal;
}
#share_links_form .file_name p{
    margin-top: 10px !important;
}
#share_links_form .url p{
    margin-top: 10px !important;
}

#share_links_form .file_name #file_upload{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#share_links_form .url div {
    margin-left: 2em !important;
}

.share_links_advanced input.source{
    background: #f0f0f0;
    border: solid 1px #dcdcdc;
    border-radius: 0px;
    height: 29px;
    padding: 0 40px 0 10px;
    box-shadow: none;
    color: #545454;
    margin: 2px 10px 0 0;
    background-size: 14px;
    display: inline-block;
}

#myshareModal .clip1btn{
    background: rgba(255,121,4,1);
    background: -moz-linear-gradient(top, rgba(255,121,4,1) 0%, rgba(255,106,25,1) 50%, rgba(254,86,2,1) 51%, rgba(254,62,4,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,121,4,1)), color-stop(50%, rgba(255,106,25,1)), color-stop(51%, rgba(254,86,2,1)), color-stop(100%, rgba(254,62,4,1)));
    background: -webkit-linear-gradient(top, rgba(255,121,4,1) 0%, rgba(255,106,25,1) 50%, rgba(254,86,2,1) 51%, rgba(254,62,4,1) 100%);
    background: -o-linear-gradient(top, rgba(255,121,4,1) 0%, rgba(255,106,25,1) 50%, rgba(254,86,2,1) 51%, rgba(254,62,4,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,121,4,1) 0%, rgba(255,106,25,1) 50%, rgba(254,86,2,1) 51%, rgba(254,62,4,1) 100%);
    background: linear-gradient(to bottom, rgba(255,121,4,1) 0%, rgba(255,106,25,1) 50%, rgba(254,86,2,1) 51%, rgba(254,62,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7904', endColorstr='#fe3e04', GradientType=0 );
    border-radius: 4px;
    display: block;
    width: 170px;
    height: 48px !important;
    font-size: 24px;
    color: #ffffff !important;
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    text-shadow: 0 0 8px #333;
    -webkit-box-shadow: 0px 10px 28px -10px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 10px 28px -10px rgba(0,0,0,0.73);
    box-shadow: 0px 10px 28px -10px rgba(0,0,0,0.73);
    display: block !IMPORTANT;
    word-wrap: break-word;
    margin-bottom: 10px !important;
}


#myshareModal .modal-content .modal-body div div{
    width: 100% !important;
}

@media(max-width:1199px){
    .share_btn5{
        display: block !important;
        text-align: center !important;
    }
.sharelinkshead{width:90%;}

.sharelinks_wrapper{ width:90%;}

.sharelinks_wrapper .sharelinks_block3{ text-align:center;}


.sharelinks_wrapper .sharelinks_block1{ width:auto; margin:18px 0; -webkit-box-shadow: inset -1px -1px 102px -14px rgba(173,170,173,1);
-moz-box-shadow: inset -1px -1px 102px -14px rgba(173,170,173,1);
box-shadow: inset -1px -1px 102px -14px rgba(173,170,173,1); border:solid 1px #d4d4d4; background-image:none; height:auto;}

.sharelinks_wrapper .sharelinks_block1 .block_wrapper{ width:100%;}


.sharelinks_wrapper .sharelinks_block1 .left_img{ float:none; margin:0 auto; }

.sharelinks_wrapper .sharelinks_block1 .block_text{ width:90%; float:none; margin:50px auto; margin-bottom:20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:16px!important; line-height:24px!important; color:#545454;}

.sharelinks_wrapper .sharelinks_block1 .block_text h2::after{ content:''; width:66px; height:2px; display:block; background:#004c92; margin:12px auto;}

.sharelinks_list_wrapper{ margin:18px auto; width:90%; padding:0 7px; background:#fff; padding-bottom:18px;}


.sharelinks_list_wrapper .list_block .image_block{ width:240px; float:none; margin:0 auto; margin-bottom:20px; border:solid 5px #e3e3e3;}

.sharelinks_list_wrapper .list_block .contain_block{ width:100%; float:none; position:relative;}

.share_links_edit{ width:96%; margin:0 auto; font-family:"RalewayRegular"; margin-top:18px; background:#fff; padding:20px 40px;}
	
}


@media(max-width:991px){
.share_links_advanced_link{
    display: block;
    text-align: center;
}
    .sharelinkshead, .sharelinkshead p{
        text-align: center !important;
    }



.sharelinks_list_wrapper .list_block .contain_block .inputbox{ background:#f0f0f0 url(images/lock_icon.png) 98% center no-repeat; border:solid 1px #dcdcdc; border-radius:0px; width:90%; height:29px; padding:0 40px 0 10px; box-shadow:none; color:#545454; float:none!important; display:block;   margin: 2px auto!important; background-size:14px;}


.sharelinks_list_wrapper .list_block .contain_block  .share_btn{ float:none!important; margin:10px auto!important}

.sharelinks_list_wrapper .list_block .link_div{  position: inherit; margin:0 auto; margin-bottom:20px;
    right: 0;
    top: 0;
    width: 150px;}
	
	.sharelinks_list_wrapper .list_block .contain_block .share_btn_div{
        width: 100%;
        padding: 15px 0;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
	
	.sharelinks_list_wrapper .list_block .contain_block .share_btn_div .share_btn{ display:inline!important; float:none!important; margin:3px!important;}

.sharelinks_list_wrapper .list_block .contain_block h2{ text-align:center;}
.sharelinks_list_wrapper .list_block .contain_block h2::after{ margin:12px auto;}




.sharelinks_list_wrapper .list_block .contain_block h3{ text-align:center;}

.sharelinks_list_wrapper .list_block .contain_block .share_div{ width:100%; margin-top: 10px;}

.sharelinks_list_wrapper .list_block .contain_block .share_div .share_block{ width:280px; float:none; margin:0 auto; margin-bottom:10px;}
.sharelinks_list_wrapper .list_block .contain_block .share_div .btn1{
    float: none!important;
    margin: 5px!important;
    display: inline-block!important;
}

}

@media(max-width:540px) {
    .sharelinks_list_wrapper .list_block .contain_block .share_div .share_block {
        width: 100%;
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 10px !important;
    }
    .sharelinks_list_wrapper .list_block .image_block {
        width: 100%;
    }
}

@media(max-width:460px){
.share_links_edit .te_buttons .te_buttons{ width:100%!important; display:block!important; margin:0 auto!important; margin-bottom:15px!important;}

}



@media(max-width:360px){

.share_links_edit {
    background: #fff none repeat scroll 0 0;
    margin: 18px auto 0;
    padding: 20px 5%;
    width: 96%;
}

.share_links_edit .te_buttons .te_buttons {
    display: block !important;
    margin: 0 auto 15px !important;
    width: 96% !important;
}
.share_links_edit input[type="text"]{ width: 96% !important;}

.share_links_edit textarea{ width: 96% !important;}
}

.success{background: #079ad1!important;}

.share_links_advanced{margin-top: 15px!important;}

.source{ margin: 0 10px!important;}

.box_main #pixel_main_table td h4 a {
    font-weight: normal;
    font-size: 16px;
    color: #006600 !important;
}