@font-face {
    font-family: 'poetsen_oneregular';
    src: url('../fonts/poetsenone-regular-webfont.woff2') format('woff2'),
    url('../fonts/poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.vcproduct_wraper{width: 1250px!important; margin: 0 auto; margin-top: 25px; padding:0px!important;  }


.vcproduct_wraper .vcproduct_block{ width: 950px; float: left; padding:0px!important;}

.vcproduct_wraper .vcproduct_block .vcproduct_conbox{ margin-bottom: 50px;}

.vcproduct_wraper .vcproduct_block .vcproduct_conbox h2{ width: 900px; float: left; background: #4e8816; padding:6px 6px 0 16px; margin:0px; font-size: 36px; color: #ffffff;  font-family: "HelveticaNormal";}

.vcproduct_wraper .vcproduct_block .vcproduct_conbox .prockbox{ width:28px; float:right; margin-left:16px; margin-top: 14px; }

.prockbox input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;

}


.prockbox input[type=checkbox].css-checkbox + label.css-label {
    padding-left:28px;
    height:24px;
    display:inline-block;
    line-height:24px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:14px;
    vertical-align:middle;
    cursor:pointer;

    color:#ffffff; font-weight:normal;

}

.prockbox	input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -23px;
}
.prockbox label.css-label {
    background-image:url(../images/productchakebox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.vcproduct_wraper .vcproduct_block .vcproduct_conbox .vcpro_textcon{ width:100%; margin-top:40px;}

.vcproduct_wraper .vcpro_textcon_img{ width:380px; float:left; position:relative;}

.vcproduct_wraper .vcpro_textcon_img .ad_product1{ margin-left:-125px; width:500px;}

.vcproduct_wraper .vcpro_textcon_img .ad_product2{ margin-left:-50px; width:426px;}


.vcproduct_wraper .vcpro_textcon_text{ width:510px; float:left; margin-left:10px; font-size:15px; color:#1a2837; font-family: "HelveticaNormal"; line-height:22px;}

.vcproduct_wraper .vcpro_textcon_text span{ color:#e22b67;}

.vcproduct_wraper .vcpro_textcon_text h4{ text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:48px; color:#e7024d; margin:0; padding:30px 0; font-weight:normal;}


.vcproduct_wraper .vcpro_textcon_text .select_btn{ width:384px;  padding:25px 0 28px 0; display:block; margin:0 auto; border:solid 4px #fff; border-radius:40px; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);




    background: rgba(228,132,29,1);
    background: -moz-linear-gradient(top, rgba(228,132,29,1) 0%, rgba(200,78,2,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,132,29,1)), color-stop(100%, rgba(200,78,2,1)));
    background: -webkit-linear-gradient(top, rgba(228,132,29,1) 0%, rgba(200,78,2,1) 100%);
    background: -o-linear-gradient(top, rgba(228,132,29,1) 0%, rgba(200,78,2,1) 100%);
    background: -ms-linear-gradient(top, rgba(228,132,29,1) 0%, rgba(200,78,2,1) 100%);
    background: linear-gradient(to bottom, rgba(228,132,29,1) 0%, rgba(200,78,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4841d', endColorstr='#c84e02', GradientType=0 );


    font-size:30px; color:#ffffff; text-transform:uppercase; font-style:italic; font-family: 'RalewayBold'; text-shadow:0 2px 4px #000;
}


.vcproduct_wraper .vcpro_textcon_text .active_select_btn{ width:384px; padding:25px 0 28px 0; display:block; margin:0 auto; border:solid 4px #fff0e4; border-radius:40px; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);





    background: rgba(178,184,18,1);
    background: -moz-linear-gradient(top, rgba(178,184,18,1) 0%, rgba(65,95,4,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(178,184,18,1)), color-stop(100%, rgba(65,95,4,1)));
    background: -webkit-linear-gradient(top, rgba(178,184,18,1) 0%, rgba(65,95,4,1) 100%);
    background: -o-linear-gradient(top, rgba(178,184,18,1) 0%, rgba(65,95,4,1) 100%);
    background: -ms-linear-gradient(top, rgba(178,184,18,1) 0%, rgba(65,95,4,1) 100%);
    background: linear-gradient(to bottom, rgba(178,184,18,1) 0%, rgba(65,95,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b812', endColorstr='#415f04', GradientType=0 );



    font-size:48px; color:#ffffff; text-transform:uppercase; font-style:italic; font-family: 'RalewayBold'; text-shadow:0 2px 4px #000;
}



.vcproduct_orderbox{ margin-bottom:20px;}

.vcproduct_orderbox th{ background:#e7024d; padding:2px 6px; font-size:36px; color:#ffffff; font-family: "HelveticaNormal"; font-weight:normal; text-align: left!important;}

.vcproduct_orderbox td{ border-bottom:solid 1px #c1c2c2; padding:12px 0; font-size:15px; color:#35271d; font-family: "HelveticaNormal"; width:50%; text-align: left!important;}

.vcproduct_orderbox td span{ color:#ea0142;}

.productform{ z-index: 99; width: 310px; border: solid 1px #c2c3c4; border-radius: 10px;}


.vcproduct_wraper .vcform_block{ width: 310px; float: right;  padding:0px!important; }

.productform .formheading{
    background: rgba(180,183,19,1);
    background: -moz-linear-gradient(top, rgba(180,183,19,1) 0%, rgba(65,95,4,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180,183,19,1)), color-stop(100%, rgba(65,95,4,1)));
    background: -webkit-linear-gradient(top, rgba(180,183,19,1) 0%, rgba(65,95,4,1) 100%);
    background: -o-linear-gradient(top, rgba(180,183,19,1) 0%, rgba(65,95,4,1) 100%);
    background: -ms-linear-gradient(top, rgba(180,183,19,1) 0%, rgba(65,95,4,1) 100%);
    background: linear-gradient(to bottom, rgba(180,183,19,1) 0%, rgba(65,95,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b713', endColorstr='#415f04', GradientType=0 ); border: solid 2px #fff0e4; border-radius: 10px 10px 0 0;

    -webkit-box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.75);


}



.productform .formheading h1{  background:url(../images/form_iconbg.png) no-repeat left center; width: 260px; display: block; margin: 14px auto; padding:12px 0 12px 60px;   font-family: 'OpenSansBold';     color: #fff;
    text-shadow: 0 0 13px #000; font-size: 34px;     margin-bottom: 0px;}

.productform .formheading h6{ margin: 0px; padding: 3px 0 12px 0;  font-family: 'OpenSansBold';     color: #fff;
    text-shadow: 0 0 13px #000; text-align: center; font-size: 28px;}

.productform h2{ font-size: 22px; color: #2a2929; text-transform: uppercase; margin: 0px;  font-family: 'OpenSansSemibold'; padding: 12px; text-align: center;}


.productform h4{ width: 282px; display: block; margin: 0 auto; border: solid 1px #fce59f; border-radius: 5px; padding: 4px;}

.productform h4 span{ display: block; width: 100%; height: 100%; border-radius: 5px; background: #d92b8a url(../images/form_icon2.png) no-repeat 10px center; font-family: arial, helvetica, sans-serif; font-size: 14px; color: #fff; padding: 22px 0 22px 63px;}

.productform  .formmainbg{ background: #dfe2e3; margin: 15px; border: solid 1px #c2c3c4; border-radius: 0 0 10px 10px;}

.productform  .formmainbg h3{ background: #3c3c3b; width: 100%; margin: 0 0 15px 0; padding: 20px 0; text-align: center; font-size: 22px; color: #ffffff; text-transform: uppercase; font-family: 'OpenSansSemibold';}


.productform .form-group{     width: auto;
    padding: 0 12px;
    margin: 5px 0 10px 0;}

.productform .form-group label{ display: block; width: 100%; font-size: 14px; color: #292929; font-weight: normal; font-family: arial, helvetica, sans-serif; text-align: left; padding: 0; margin: 0; text-transform: capitalize;}

.productform .form-group input[type="text"]{ width: 100%; padding: 4px; height: 40px; margin: 0px; border: solid 1px #c0c3c5; margin: 0px; font-size: 13px; color: #292929; background: #fff!important;}
.productform .form-group input[type="password"]{ width: 100%; padding: 4px; height: 40px; margin: 0px; border: solid 1px #c0c3c5; margin: 0px; font-size: 13px; color: #292929;  background: #fff!important;}
.productform .form-group select{ width: 100%; padding: 4px; height: 40px; margin: 0px; border: solid 1px #c0c3c5;  font-size: 13px; color: #292929;  background: #fff!important;}


.productform .form-group2{    width: auto;
    padding: 0 12px;
    margin: 5px 0 10px 0;}

.productform .form-group2 label{ display: block; width: 100%; font-size: 13px; color: #292929; font-weight: normal; font-family: arial, helvetica, sans-serif; text-align: left; padding: 0; margin: 0; text-transform: capitalize;}

.productform .form-group2 select{ width: 45%; padding: 4px; height: 40px; margin: 0px; border: solid 1px #c0c3c5;  font-size: 13px; color: #292929;  background: #fff!important;}


.formsub_btn{width:252px!important; padding:14px 0 16px 0!important; height: auto!important; display:block!important; margin:20px auto!important; margin-top: 12px!important; border:solid 4px #fff0e4!important; border-radius:5px!important; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)!important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)!important;






    background: rgba(92,153,0,1)!important;
    background: -moz-linear-gradient(top, rgba(92,153,0,1) 0%, rgba(22,55,0,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,153,0,1)), color-stop(100%, rgba(22,55,0,1)))!important;
    background: -webkit-linear-gradient(top, rgba(92,153,0,1) 0%, rgba(22,55,0,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(92,153,0,1) 0%, rgba(22,55,0,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(92,153,0,1) 0%, rgba(22,55,0,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(92,153,0,1) 0%, rgba(22,55,0,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9900', endColorstr='#163700', GradientType=0 )!important;




    font-size:26px!important; color:#ffffff!important; text-transform:uppercase!important;  font-family: 'RalewayBold'!important; text-shadow:0 2px 4px #000!important;}


.formchakebox{ margin-left: 13px; margin-right: 13px; margin-top: 15px; font-family: arial, helvetica, sans-serif!important; font-size: 13px!important; color: #ea0142!important;}




.formchakebox input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;

}

.formchakebox input[type=checkbox].css-checkbox + label.css-label {
    padding-left:0px;
    height:21px;
    display:inline-block;
    line-height:21px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:14px;
    vertical-align:middle;
    cursor:pointer;

    color:#ffffff; font-weight:normal;

}

.formchakebox	input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -20px;
}
.formchakebox	label.css-label {
    background-image:url(../images/chbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.formchakebox label{ width: 25px; display: block; float: left; }
.formchakebox span{ width: 220px; display: block; float: right; cursor: pointer;     padding: 4px 0 0 0; }



.success_wrapper{ width: 800px; margin: 50px auto;}



.success_img{ display: block; margin: 0 auto; margin-bottom: 20px; max-width: 100%;}

.success_wrapper h2{ margin:0; padding: 25px 0 0 0; font-family: 'HelveticaNormal'; font-size: 30px; color:#51b517; text-transform: uppercase;  text-align: center;}

.success_wrapper h3{ margin:0;    padding: 15px 0 5px 0;    font-family: 'HelveticaNormal'; font-size: 18px; color:#7c7c7c; text-transform: uppercase; text-align: center; }

.success_wrapper h4{ margin:0;    padding: 25px 0 30px 0;    font-family: 'HelveticaNormal'; font-size: 24px; color:#333333;  text-align: center; }

.success_wrapper h4 a{ color: #e22b67; text-decoration: underline; display: inline-block; }
.success_wrapper h4 a:hover{ text-decoration: none; }

.success_wrapper th,td{ text-align: center; font-family: "HelveticaNormal"; padding: 10px 0 8px 0!important; }
.success_wrapper th{font-size: 16px !important;font-weight: normal!important;background: #51b517 !important; }

.grandtotal_block{width: 100%; float: none; font-size: 22px; color: #333; margin-top: 15px; }

.grandtotal_block td{ padding: 5px 0 2px 0 !important;font-size: 18px!important;}

.td_text{
    font-size: 18px!important;
}


.td_text1{
    font-size: 18px!important;
}

.td_valu {
    font-size: 18px!important;

}

.order_heading{  font-family: 'poetsen_oneregular'; background:url(../images/orderdevider.png) no-repeat center bottom; text-align: center; width: 100%; display: block; margin:0 auto; margin-bottom: 30px; font-size: 36px; line-height: 40px; color: #3c3c3b; padding: 0 0 30px 0;}

.success_table_block{border: none;}


.btnloginsuccess, .btnloginsuccess:hover {
    background: #51b517;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 31px;
    line-height: 33px;
    margin: 26px auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
}

@media only screen and (max-width: 880px) {

    .success_wrapper{ width: 96%; margin: 50px auto;}
    .grandtotal_block{ font-size: 18px;}
}

@media only screen and (max-width: 450px) {

    .grandtotal_block{width: 100%; float: none;}
    .success_wrapper th {
        font-size: 14px !important;
    }

}


@media only screen and (max-width: 1500px) {

    .vcproduct_wraper .vcpro_textcon_img .ad_product1{ margin-left:-50px; width:426px;}



}


@media only screen and (max-width: 1360px) {

    .vcproduct_wraper .vcpro_textcon_img .ad_product1{ margin-left:0px; width:100%;}

    .vcproduct_wraper .vcpro_textcon_img .ad_product2{ margin-left:0px; width:100%;}

}

@media only screen and (max-width: 1279px) {
    .vcproduct_wraper{width: 1199px!important; margin: 0 auto; margin-top: 25px; padding:0px!important;  }


    .vcproduct_wraper .vcproduct_block{ width: 899px; float: left; padding:0px!important;}

    .vcproduct_wraper .vcproduct_block .vcproduct_conbox h2 {
        width: 95%;
    }

}

@media only screen and (max-width: 1199px) {

.vcproduct_wraper{width:80%!important; margin: 0 auto!important; margin-top: 30px;}

    .vcproduct_wraper .vcproduct_block{ width: 100%; float: none; padding:0px!important; margin-bottom: 30px; display: inline-block;}

    .vcproduct_wraper .vcform_block{ width: 100%; float: none;  padding:0px!important; }

    .vcproduct_wraper .vcproduct_block .vcproduct_conbox h2{ width: 100%;}

    .vcproduct_wraper .vcproduct_block .vcproduct_conbox .prockbox{ width:28px; float:none; margin: 15px auto; }

    .vcproduct_wraper .vcpro_textcon_img{ width:380px; float:none; position:relative; margin: 0 auto;}

    .vcproduct_wraper .vcpro_textcon_img .ad_product1{ width:100%; margin: 0 auto;}

    .vcproduct_wraper .vcpro_textcon_img .ad_product2{ width:100%; margin: 0 auto;}

    .vcproduct_wraper .vcpro_textcon_text{ width:100%; float:none; margin: 0 auto; text-align: center;}

    .vcproduct_wraper .vcproduct_block .vcproduct_conbox {
        margin-top: 25px;
    }
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox .prockbox {
        float: right;
    }
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox h2 {
        width: 95%;
    }
    .productform{
        height: auto;
        float: none;
        left: 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .formchakebox span {
        width: 80%;
        display: block;
        float: left;
    }
}


@media only screen and (max-width: 991px) {
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox h2 {
        width: 94%;
    }
}


@media only screen and (max-width: 800px) {
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox h2 {
        width: 93%;
    }
}


@media only screen and (max-width: 767px) {
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox h2 {
        width: 100%;
        text-align: center;
    }
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox .prockbox {
        float: none;
    }
    .prockbox input.css-checkbox[type="checkbox"] + label.css-label {
        margin-top: 25px;
    }
    .vcproduct_wraper .vcproduct_block .vcproduct_conbox .vcpro_textcon {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 640px) {
    .success_wrapper h3 {
        line-height: normal;
    }
    .success_wrapper h3 {
        max-width: 82%;
        margin: 0 auto;
    }
    .success_wrapper h4 {
        padding: 12px 0 30px 0;
    }
}

@media only screen and (max-width: 480px) {
    .success_wrapper h3 {
        max-width: 86%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 460px) {

    .vcproduct_wraper .vcpro_textcon_text .select_btn {
        width: 100%;
        margin: 0 auto;
        font-size: 26px;
    }
}

@media only screen and (max-width: 400px) {
    .vcproduct_wraper .vcpro_textcon_text .select_btn {
        font-size: 22px;
        padding: 15px 0 18px 0;
    }
    .vcproduct_wraper .vcpro_textcon_img {
        width: 100%;
    }
    .productform h4 {
         width: 100%;
     }
    .productform .formmainbg h3 {
        font-size: 19px;
    }
    .formsub_btn {
        width: 94%;
        font-size: 21px !important;
    }
    .vcproduct_orderbox th {
        font-size: 30px;
    }
    .productform .formheading h1 {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .vcproduct_wraper .vcpro_textcon_text .select_btn {
        font-size: 18px;
    }
}

@media only screen and (max-width:460px) {
    .success_wrapper h4{ font-size: 13px;}

}


