@font-face {
    font-family: 'RalewayBold';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Bold.woff') format('woff'),
    url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'RalewaySemiBold';
    src: url('fonts/Raleway-SemiBold.eot');
    src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-SemiBold.woff') format('woff'),
    url('fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Regular.woff2') format('woff2'),
    url('fonts/Raleway-Regular.woff') format('woff'),
    url('fonts/Raleway-Regular.ttf') format('truetype'),
    url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url('fonts/Raleway-ExtraBold.eot');
    src: url('fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-ExtraBold.woff') format('woff'),
    url('fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBlack';
    src: url('fonts/Raleway-Black.eot');
    src: url('fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Black.woff2') format('woff2'),
    url('fonts/Raleway-Black.woff') format('woff'),
    url('fonts/Raleway-Black.ttf') format('truetype'),
    url('fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Regular.woff') format('woff'),
    url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{font-family:"RalewayRegular"; padding: 0px; margin: 0;}
h1, h2, h3, h4, h5, h6{font-family:"RalewayRegular";}
table th, table td{font-family:"RalewayRegular";}
.page-share_links{ font-family:"RalewayRegular"; padding: 0px; margin: 0; font-size: 16px;}


.box_main{
    background: #fff;
    width: 98%;
    margin: 18px auto;
    padding: 10px;
}

.box_main button {
    background: #232323 none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #ffffff !important;
    display: inline-block !important;

    font-size: 14px !important;
    height: 32px !important;
    line-height: 22px !important;
    margin: 0 10px 0 0 !important;
    text-align: center !important;
    min-width: 80px !important;
}
	
	
	.box_main  h2{
        color: #545454;
        font-size: 24px;
        font-weight: normal;
        margin: 20px 0 0 0;
        padding: 0;
    }
	
	.box_main  h2::after {
    background: #d92b8a none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: 12px 0;
    width: 66px;
}

.box_main #pixel_main_table{ width:100%; margin-bottom:30px;}

.box_main #pixel_main_table th{ background:#688816; padding:10px; text-align:center; font-size:16px; font-weight:normal; color:#fff; border:solid 1px #fff;}
.box_main #pixel_main_table td{ background:#fff; padding:10px 0; text-align:center; font-size:16px; font-weight:normal; color:#545454; border:solid 1px #e6e5e5;}

.box_main #pixel_main_table td h4{ font-weight:normal; font-size:16px; color:#232323;}
		
			.box_main #pixel_main_table td img{ display:block; margin:0 auto;}
			
	
				.box_main #pixel_main_table td .icon_button_16 img{ display:none;}
				
					.box_main #pixel_main_table td .icon_button_16 span{ display:block; width:100%; text-align:center;}
			
			
			
					.box_main #pixel_main_table td .editbtn{  background: #232323 url("images/editlink.png") no-repeat  14px  center!important; background-size:14px!important;}
					
								.box_main #pixel_main_table td .deletebtn{  background: #232323 url("images/deleteicon.png") no-repeat   8px  center!important; background-size:14px!important;}
								
								
								
								
		#share_asset_form legend {
            margin: 0 0 14px 0 !important;
            color: #131313 !important;
            font-family: "RalewayBold" !important;
            font-size: 20px !important;
            line-height: 30px !important;
            font-weight: 600 !important;
            text-decoration: none !important;
        }
		
		#share_asset_form legend a{
            color: #2c2c2c !important;
            font-family: "RalewayRegular";
        }
		
		
		#share_asset_form fieldset {  margin: 0 auto;
    padding-bottom: 10px;
    width: 95% !important;}
		
		#share_asset_form dt {
            font-weight: normal!important;
            font-size: 14px;
            color: #4c4c4c;
            margin-top: 5px;
        }
		
			#share_asset_form dt  label{
                color: #4c4c4c;
                font-family: "RalewayRegular";
                font-size: 14px;
                line-height: 24px;
                margin: 0;
                letter-spacing: 1px;
                font-weight: 600 !important;
                display: block;
            }
		
		#share_asset_form input[type="text"]{
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            background: #efefef;
            height: 40px;
            border: 1px solid #dddddd;
            border-radius: 0px;
            padding: 6px 12px;
        }
	
	
		#share_asset_form select{
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            background: #efefef;
            height: 40px;
            border: 1px solid #dddddd;
            border-radius: 0px;
            padding: 6px 12px;
        }
	
	
		#share_asset_form .te_buttons { background:none; border:none; }
		
		
			#share_asset_form .te_buttons .te_buttons {
                background: #3d3d3d!important;
                display: block!important;
                float: left!important;
                margin: 0 10px 0 0!important;
                width: 144px!important;
                height: 36px!important;
                border: none!important;
                cursor: pointer!important;
                border-radius: 0px!important;
                box-shadow: none!important;
                background-image: none!important;
                font-size: 14px!important;
                color: #ffffff!important;
                text-align: center!important;
                line-height: 36px!important;
}
	#share_asset_form .te_buttons {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
        border: medium none !important;
        margin: 0 !important;
        padding: 0 !important;
}



.row{ width:100%!important; padding:0!important; margin:0!important}

.col-sm-12{ width:100%!important; padding:0!important; margin:0!important}

.span-one-third { width:100%!important; margin:0!important; padding:0!important;}

.span-one-third h3{ color: #545454;
    font-size: 24px;
    font-weight: normal; text-align:center;}
	
	
.span-one-third h3::after {
    background: #d92b8a none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: 4px auto;
    width: 126px;
	margin-bottom:12px;
}


.te_viewnav_top .te_delete_form{ background:none; border:none; width:274px; margin:20px auto; padding-bottom:10px; }
		
		

.te_viewnav_top .te_delete_form .confirm_button {
    background: #01a1fc none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 0 5px;
    text-align: center;
    width: 126px;
}


.te_viewnav_top .te_delete_form .cancel_button {
    background: #01a1fc none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 0 5px;
    text-align: center;
    width: 126px;
}


#te_action_menu_pixel .te_legend{ color: #545454;
    font-size: 24px;
    font-weight: normal;}
	
	#te_action_menu_pixel { border-bottom:solid 1px #f0f0f0;}

#te_action_menu_pixel .te_new_button{
    background: #01a1fc none repeat scroll 0 0 !important; color: #fff !important;
    font-size: 18px !important; display:inline-block; margin-top:-8px; }
  

	
	
.te .to_noresults{ font-size:24px; color:#ff0000!important; padding-top:30px;}

.te_action_menu_pixel td{ line-height:50px;}

.box_main #pixel_main_table td h4 a {
    font-weight: normal;
    font-size: 16px;
    color: #006600 !important;
}